.sticky-nav {
    position: fixed;
    top: 5%;
    left: 15%; 
    right: 15%; 
    width: 70%; 
    background-color: white;
    color: white;
    text-align: center;
    transition: transform 1.5s ease-in-out;
    z-index: 1000;
    border-radius: 8px;
    transform: translateY(-200%);
}

.sticky-nav.visible {
    transform: translateY(0);
}

@media (max-width: 767px) {
    .sticky-nav {
        width: 90%;
        left: 5%; 
        right: 0%; 
    }
}